.vscode

backend/.vscode
backend/GraphQL/bin
backend/GraphQL/obj
backend/GraphQL/Logs
backend/GraphQL/Properties
backend/GraphQL/appsettings.Development.json
backend/GraphQL/appsettings.json
backend/Core/bin
backend/Core/obj
backend/Data/bin
backend/Data/obj
backend/Data/Migrations
backend/Models/bin
backend/Models/obj
backend/.DS_Store
backend/GraphQL/dump.rdb
backend/.DS_Store
backend/Makefile

frontend